html
  head
    title Tumblr-o-matic
    link(href="/css/styles.css", type="text/css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet")
  body
    section(id="sLoading")
        div!= "Preloading <strong>" + blog + "</strong>"
        div.smooth for the smooth experience you deserve
        div.counter ( <span id='txtQtyLoaded'>0</span>/<span id='txtQtyLoadedMax'>0</span> )
        div.please Please, sit back, <a href="#" id="goFullscreen">fullscreen me</a> and chill
        div.pro
            h3 PRO TIPS
            ul
                li <strong>spacebar</strong>: next please
                li <strong>z</strong>: zoom mode
                li <strong>m</strong>: mosaic mode

    section#mainWrapper.zoomMode

    script(src="/js/jquery-3.1.1.min.js")
    script(src="/js/js.cookie.js")
    script= "var BLOG = '" + blog + "';"
    script(src="/js/UI.js")
    script(src="/js/Photos.js")
    script(src="/js/Settings.js")
    script(src="/js/main.js")
