// out: ./styles.css, sourcemap: true, compress: false

body {
    background-color: black;
    color: white;
    overflow: hidden;
    margin: 0;
}

#mainWrapper {
    background-repeat: no-repeat;
    background-position: center center;
    // background-size: contain;
}
