// out: ./styles.css, sourcemap: true, compress: false

body {
    background-color: black;
    color: white;
    overflow: hidden;
    margin: 0;
    font-family: "PT Serif";
}

#mainWrapper {
    background-repeat: no-repeat;
    background-position: center center;
    // background-size: contain;
}
#sLoading {
    margin-top: 2em;
    text-align: center;
    font-size: 1.8em;

    .smooth {
        font-size: 0.6em;
    }
    .counter {
        font-size: 0.8em;
    }
    .please {
        font-size: 0.8em;
        margin-top: 1em;
        color : #a6ffff;

        a {
            color: #ffa9f8;
        }
    }

    .error {
        font-size: 0.8em;
        color: #a6ffff;

        h1 {
            font-weight: normal;
            color: #ffa9f8;
        }
    }
}
