// out: ./styles.css, sourcemap: true, compress: false

body {
    background-color: black;
    color: white;
    overflow: hidden;
    margin: 0;
    font-family: "PT Serif";
}

#mainWrapper {
    background-repeat: no-repeat;
    background-position: center center;

    &.zoomMode {
        background-size: contain;
    }
    &.mosaicMode {
        background-repeat: repeat;
    }
}
#sLoading {
    margin-top: 2em;
    text-align: center;
    font-size: 1.8em;

    .smooth {
        font-size: 0.6em;
    }
    .counter {
        font-size: 0.8em;
    }
    .please {
        font-size: 0.8em;
        margin-top: 1em;
        color : #a6ffff;

        a {
            color: #ffa9f8;
        }
    }
    .pro {
        font-size: 0.5em;

        h3 {
            font-weight: normal;
        	/* text-decoration: underline; */
        	margin-bottom: 0;
        	width: 8em;
        	margin: 4em auto 0.6em auto;
        	border-bottom: 1px solid #fff6;
        }
        ul {
            list-style: none;
            padding: 0;
            margin-top: 0.3em;

            li {
                font-style: italic;
            }
        }
    }

    .error {
        font-size: 0.8em;
        color: #a6ffff;

        h1 {
            font-weight: normal;
            color: #ffa9f8;
        }
    }
}
